@import './vars.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, 'Daydream', Helvetica Neue, sans-serif;
  background-color: var(--principal-bg-color);
  color: var(--principal-text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Daydream';
  src: url(/fonts/Daydream.ttf);
}
